<ActionBar title="Home" class="action-bar" flat="true">
</ActionBar>
<StackLayout class="p-20">
  <Label class="text-valor h2">Total: {{valor}}</Label>
  <Button class="btn-add" text="+ Transação" (tap)="addTransacao(true, true, true)"></Button>
  <!--Button text="Button" [nsRouterLink]="['/transacoes']" pageTransition="slide" clearHistory="true"></Button>

  <Label text="&#xf019;" class="far"></Label>
  <Label text="First Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
  <Button text="&#xf810;" class="fas"></Button>
  <Button text="&#xf019;" class="fas"></Button>
  <Image src="~/assets/images/mountain.png" stretch="none" ></Image>
  <Label text="&#xf019;" class="far"></Label-->
</StackLayout>
<!--TabView selectedIndex="0" (selectedIndexChanged)="onSelectedIndexchanged($event)" androidTabsPosition="bottom" selectedTabTextColor="#a81b38" tabTextFontSize="10">
  <StackLayout *tabItem="{title: 'Home', iconSource: getIconSource('details')}">
      <StackLayout>
        <Button text="Transação" (tap)="addTransacao()"></Button>
        <Button text="Button" [nsRouterLink]="['/transacoes']" pageTransition="slide" clearHistory="true"></Button>

        <Label text="&#xf019;" class="far"></Label>
        <Label text="First Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
        <Button text="&#xf810;" class="fas"></Button>
        <Button text="&#xf019;" class="fas"></Button>
        <Image src="~/assets/images/mountain.png" stretch="none" ></Image>
        <Label text="&#xf019;" class="far"></Label>
      </StackLayout>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Transações', iconSource: 'res://&#xf007;'}">
    <Label text="testeeeeeeeeeeee" class="far"></Label>
    <app-transacoes></app-transacoes>
      <Label text="testeeeeeeeeeeee" class="far"></Label>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Nova Transação', iconSource: 'res://icon'}">
    <StackLayout class="p-20">
      <Label text="Enjoy" class="h1 text-center c-white"></Label>
      <Image src="~/assets/images/nx-nativescript.png" class="h-center m-t-20" width="300"></Image>
    </StackLayout>
</StackLayout>
</TabView-->
