@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

body {
  margin: 0px!important;
}

@media screen and (max-width: 992px) {
  .p-datatable-tbody > tr > td > .p-column-title {
    display: block;
  }
  .p-datatable-tbody > tr > td:not(:last-child) {
    border: 0 none;
  }
  .p-datatable-tbody > tr > td {
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: space-between;
  }
  .p-datatable-thead > tr > th,
  .p-datatable-tfoot > tr > td {
    display: none !important;
  }
}
